appdirs==1.4.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
coverage==5.5
cssselect==1.2.0
decorator==4.4.2
deprecation==2.1.0
eyed3==0.9.7
fake-useragent==1.4.0
filetype==1.2.0
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.4.9
importlib-metadata==7.0.1
lxml==5.1.0
numpy==1.26.4
packaging==23.2
parse==1.20.1
pillow==10.2.0
proglog==0.1.10
pydub==0.25.1
pyee==11.1.0
pyppeteer==2.0.0
pyquery==2.0.0
pytube==15.0.0
requests==2.31.0
requests-html==0.10.0
soupsieve==2.5
toml==0.10.2
tqdm==4.66.2
typing_extensions==4.10.0
urllib3==1.26.18
w3lib==2.1.2
websockets==10.4
zipp==3.17.0
